<footer>
    <div class="foot">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="foot-title">文章标签</h4>
                    <p></p>
                    <ul class="list-unstyled article-list">
                        <li>
                            <a href="javascript:;" style="color:#d71d6c !important;">中文</a>
                            <a href="javascript:;" style="color:#eae51b !important;">前瞻</a>
                            <a href="javascript:;" style="color:#fff !important;">劳拉系列</a>
                            <a href="javascript:;" style="color:#a5f931 !important;">古墓丽影6</a>
                        </li>
                        <li>
                            <a href="javascript:;" style="color:#357e03 !important;">古墓丽影7</a>
                            <a href="javascript:;" style="color:#89e3bd !important;">古墓丽影8</a>
                            <a href="javascript:;" style="color:#32af2e !important;">古墓丽影9</a>
                        </li>
                        <li>
                            <a href="javascript:;" style="color:#d6abc4 !important;">古墓丽影9(早期传闻)</a>
                            <a href="javascript:;" style="color:#bc0d05 !important;">古墓丽影10</a>
                            <a href="javascript:;" style="color:#fff !important;">古墓丽影11</a>
                        </li>
                        <li>
                            <a href="javascript:;" style="color:#fff !important;">古墓丽影二十年</a>
                            <a href="javascript:;" style="color:#fff !important;">古墓丽影电影</a>
                            <a href="javascript:;" style="color:#1febd0 !important;">古墓丽影访谈</a>
                        </li>
                        <li>
                            <a href="javascript:;" style="color:#e2c679 !important;">周年纪念</a>
                            <a href="javascript:;" style="color:#cd38f1 !important;">售后</a>
                            <a href="javascript:;" style="color:#1af4fe !important;">多人模式</a>
                            <a href="javascript:;" style="color:#a48ffe !important;">多平台</a>
                        </li>
                        <li>
                            <a href="javascript:;" style="color:#8f93d6 !important;">手机游戏</a>
                            <a href="javascript:;" style="color:#fff !important;">经典古墓</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="foot-title">最近更新</h4>
                    <p></p>
                    <ul class="list-unstyled update-list">
                        <li><a href="javascript:;">晶体动力迁入新址</a>2017年02月18日</li>
                        <li><a href="javascript:;">《古墓丽影＆新生》游戏大电影</a>2017年01月31日</li>
                        <li><a href="javascript:;">SE&漫威公布游戏新作 晶体动力开启新系列</a>2017年01月28日</li>
                        <li><a href="javascript:;">古墓丽影电影宣布新动向 多米尼克·威斯特加盟</a>2017年01月28日</li>
                        <li><a href="javascript:;">Find Light In Darkness</a>2017年01月27日</li>
                        <li><a href="javascript:;">古墓丽影中文站开放玩家投稿</a>2017年01月22日</li>
                        <li><a href="javascript:;">《古墓丽影：崛起》电影集</a>2017年01月22日</li>
                        <li><a href="javascript:;">《古墓丽影：崛起》PC 版新增特性：支持 Tobii 眼动仪</a>2017年01月21日</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="foot-title">周边产品</h4>
                    <p></p>
                    <ul class="list-unstyled product-list">
                        <li>
                            <a href="javascript:;">
                                <span>Play Arts 改《古墓丽影：崛起》劳拉手办</span>
                                <img src="http://localhost:63342/gumu/images/paktr10-180x180.jpg">
                            </a>
                            <span>$139.99</span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>《古墓丽影：崛起》PS包装版</span>
                                <img src="http://localhost:63342/gumu/images/rottr-ps-3-180x180.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>古墓丽影漫画合集卷3：蛇蝎女王</span>
                                <img src="http://localhost:63342/gumu/images/DarkHorse-TombRaider1-vol3-180x180.jpg">
                            </a>
                            <span>$19.99</span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>古墓丽影电影专辑</span>
                                <img src="http://localhost:63342/gumu/images/tombfilmcd1-180x180.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>古墓丽影电影交易卡</span>
                                <img src="http://localhost:63342/gumu/images/inworks-180x180.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div>
                <p>© 2003-2017 古墓丽影中文站 | 京ICP备11027651号</p>
                <p>
                    © Square Enix Ltd. Lara Croft and Tomb Raider are trademarks of Square Enix Ltd. All rights reserved.
                </p>
            </div>
            <div>
                WordPress Theme:
                <a href="javascript:;">AccessPress Parallax</a>
            </div>
        </div>
    </div>
</footer>