<div class="global">
    <nav class="global-nav navbar navbar-fixed-top container" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand brand">
                <h1><a  href="#">古墓丽影中文站</a></h1>
                <p>gmly.info</p>
            </div>
        </div>
        <div class="collapse navbar-collapse pull-right" id="example-navbar-collapse">
            <ul class=" nav navbar-nav">
               <li class="active">
                   <a href="#" ui-sref="index">首页</a>
               </li>
               <li class=" dropdown">
                   <a ui-sref="news" class="dropdown-toggle" data-toggle="dropdown">新闻</a>
                   <ul class="sub-menu dropdown-menu" role="menu">
                       <li><a href="#">官方消息</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">新作传闻</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">游戏报道</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">厂商动态</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">古墓周边</a></li>
                   </ul>
               </li>
               <li class="gn-item dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">幕后</a>
                   <ul class="sub-menu dropdown-menu">
                       <li><a href="#">文化探秘</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">游戏幕后</a></li>
                   </ul>
               </li>
               <li class="gn-item dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">玩家</a>
                   <ul class="sub-menu dropdown-menu">
                       <li><a href="#">网站活动</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">互动访谈</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">视频攻略</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">玩家电影</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">游戏杂谈</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">心得技巧</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">创意空间</a></li>
                   </ul>
               </li>
               <li class="gn-item dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">资源</a>
                   <ul class="sub-menu dropdown-menu">
                       <li><a href="#">各代剧情</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">各代资源</a></li>
                   </ul>
               </li>
               <li class="gn-item dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">百科</a>
                   <ul class="sub-menu dropdown-menu">
                       <li><a href="#">古墓丽影系列</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">劳拉·克劳馥系列</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">智能手机游戏</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">衍生游戏资料</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">劳拉·克劳馥角色信息</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">其他游戏角色</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">游戏制作相关资料</a></li>
                   </ul>
               </li>
               <li class="gn-item dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">相关产品</a>
                   <ul class="sub-menu dropdown-menu">
                       <li><a href="#">各版本游戏</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">官方漫画</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">其他印刷品</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">手办</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">音乐专辑</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">其他藏品</a></li>
                   </ul>
               </li>
               <li class="gn-item">
                   <a href="#">论坛</a>
               </li>
               <li class="gn-item">
                   <a href="#">微博</a>
               </li>
               <li class="gn-item dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">投稿</a>
                   <ul class="sub-menu dropdown-menu">
                       <li><a href="#">投稿说明</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">投稿页</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">作品展</a></li>
                   </ul>
               </li>
            </ul>
        </div>
    </nav>
</div>