<!--这是首页中间内容-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active">
            <div class="next-page">
                <a href="javascript:;"></a>
            </div>
        </li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="images/1215-1.jpg" alt="First slide">
        </div>
        <div class="item">
            <img src="images/tr20core-1.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img src="images/rottr-20th-1.jpg" alt="Third slide">
        </div>
        <div class="item">
            <img src="images/12.jpg" alt="four slide">
        </div>
        <div class="item">
            <img src="images/1223-1.jpg" alt="five slide">
        </div>
        <div class="item">
            <img src="images/Nico.jpg" alt="six slide">
        </div>
    </div>
    <!--<div class="control-direction">-->
        <!--<a href="javascript:;" class="prev"></a>-->
        <!--<a href="javascript:;" class="next"></a>-->
    <!--</div>-->
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">
        <span class="prev"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">
        <span class="next"></span>
    </a>
</div>
<div class="mid-content">
    <p class="caption-title">新闻</p>
    <p class="caption-line"></p>
    <div class="container">
        <div class="row">
            <a class="col-md-4 wow  fadeInDown animated" data-wow-duration="1s" data-wow-delay="0.25s">
                <img class="img-responsive center-block" src="images/0221-480x300.jpg">
                <div>
                    <h3>晶体动力迁入新址</h3>
                    <h4><i class="glyphicon glyphicon-calendar"></i>2017年02月18日</h4>
                    <p>在精心设计和建造后，晶体动力的新办公楼终于完工。晶体动力已于近日搬入新址，并展开招募行动。 </p>
                    <span>查看全文<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
            <a class="col-md-4 wow fadeInDown animated" data-wow-duration="1s" data-wow-delay="0.5s">
                <img class="img-responsive center-block" src="images/SQX__ANNOUNCEPARTNERIMAGE-680x383.jpg">
                <div>
                    <h3>SE&漫威公布游戏新作 晶体动力开启新系列</h3>
                    <h4><i class="glyphicon glyphicon-calendar"></i>2017年02月18日</h4>
                    <p>史克威尔艾尼克斯和漫威公布《复仇者联盟》新游戏，负责游戏开发的是“古墓丽影”系列的开发商晶体动力，以及开发了“杀出重围”系列的蒙特利尔艺夺。  </p>
                    <span>查看全文<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
            <a class="col-md-4 wow fadeInDown animated" data-wow-duration="1s" data-wow-delay="0.75s">
                <img class="img-responsive center-block" src="images/dominic_west_trfilm-680x383.jpg">
                <div>
                    <h3>古墓丽影电影宣布新动向 多米尼克·威斯特加盟</h3>
                    <h4><i class="glyphicon glyphicon-calendar"></i>2017年02月18日</h4>
                    <p>HollyWoodReporter 今日发布独家报道，宣布多米尼克·威斯特（时光网资料）加盟新版《古墓丽影》电影的拍摄，将在剧中饰演劳拉的父亲。 </p>
                    <span>查看全文<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
        </div>
    </div>
    <div class="more container">
        <a href="javascript:;">查阅更多</a>
    </div>
</div>
<div class="encyclopedia">
    <div class="container">
        <h1 class="text-center">古墓丽影中文站 · 百科</h1>
        <p class="encyclopedia-line"></p>
        <ul class="nav nav-tabs" id="myTabs">
            <li class="active wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.25s"><a href="#laola" data-toggle="tab"><img src="images/01-1-150x150.jpg"></a></li>
            <li class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.5s"><a href="#gumu" data-toggle="tab"><img src="images/02-1-150x150.jpg"></a></li>
            <li class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.75s"><a href="#game" data-toggle="tab"><img src="images/03-1-150x150.jpg"></a></li>
            <li class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="1s"><a href="#Periphery" data-toggle="tab"><img src="images/04-1-150x150.jpg"></a></li>
        </ul>
        <div class="tab-content wow bounceInLeft" data-wow-duration="2s" data-wow-delay="1.25s">
            <div class="tab-pane fade in active" id="laola">
                <div class="team-detail pull-left">
                    <h3>劳拉·克劳馥</h3>
                    <p><strong><a href="javascript:;">劳拉·克劳馥页面</a></strong>，除了现在这位劳拉的详尽资料，还有——</p>
                    <ul>
                        <li><a href="javascript:;">劳拉的诞生</a></li>
                        <li><a href="javascript:;">古墓丽影雏形</a></li>
                        <li><a href="javascript:;">三部曲中的劳拉</a></li>
                        <li><a href="javascript:;">卡通时代的劳拉</a></li>
                        <li><a href="javascript:;">劳拉的庄园</a></li>
                        <li><a href="javascript:;">劳拉装束</a></li>
                        <li><a href="javascript:;">劳拉的配音</a></li>
                        <li><a href="javascript:;">劳拉官方模特</a></li>
                    </ul>
                    <p>以及其他！</p>
                </div>
                <div class="team-image pull-right">
                    <img class="pull-right" src="images/01-1-150x150.jpg">
                </div>
            </div>
            <div class="tab-pane fade feature" id="gumu">
                <div class="team-detail pull-left">
                    <h3>古墓丽影系列</h3>
                    <p><a href="javascript:;">古墓丽影系列页面</a>，包括各代游戏的介绍、攻略、剧情、幕后，等等。</p>
                    <ul>
                        <li><a href="javascript:;">古墓丽影：崛起</a>（1999）</li>
                        <li><a href="javascript:;">古墓丽影</a>（1999）</li>
                        <li><a href="javascript:;">古墓丽影：地下世界</a>（1999）</li>
                        <li><a href="javascript:;">古墓丽影：周年纪念</a>（1999）</li>
                        <li><a href="javascript:;">古墓丽影：传说</a>（1999）</li>
                        <li><a href="javascript:;">古墓丽影：黑暗天使</a>（1999）</li>
                        <li><a href="javascript:;">古墓丽影：历代记</a>（1999）</li>
                        <li><a href="javascript:;">古墓丽影：最后的启示</a>（1999） | 附加关卡：<a href="javascript:;">泰晤士报独家专访</a></li>
                        <li><a href="javascript:;">古墓丽影III：劳拉的冒险</a>（1998） | 黄金版：<a href="javascript:;">失落的神器</a>（2000）</li>
                        <li><a href="javascript:;">古墓丽影III：西安匕首</a>（1997） | 黄金版：<a href="javascript:;">黄金面具</a>（1999）</li>
                        <li><a href="javascript:;">古墓丽影：最后的启示</a>（1996） | 黄金版：<a href="javascript:;">未竟的事业</a>（1998）</li>
                    </ul>
                </div>
                <div class="team-image pull-right">
                    <img class="pull-right" src="images/02-1-150x150.jpg">
                </div>
            </div>
            <div class="tab-pane fade" id="game">
                <div class="team-detail pull-left">
                <h3>衍生游戏</h3>
                <p>古墓丽影之外的劳拉游戏。</p>
                <ul>
                    <li>
                        <strong><a href="javascript:;">劳拉·克劳馥数字下载游戏</a></strong>
                        <ul>
                            <li><a href="javascript:;">劳拉与奥西里斯神庙</a>（1999）</li>
                            <li><a href="javascript:;">劳拉与光之守护者</a>（1999）</li>
                        </ul>
                    </li>
                    <li>
                        <strong><a href="javascript:;">智能手机平台</a></strong>
                        <ul>
                            <li><a href="javascript:;">劳拉与光之守护者</a>（1999）</li>
                            <li><a href="javascript:;">古墓丽影系列</a>（1999）</li>
                            <li><a href="javascript:;">劳拉·克劳馥——映射</a>（1999）</li>
                            <li><a href="javascript:;">遗迹逃亡</a>（1999）</li>
                            <li><a href="javascript:;">劳拉GO</a>（1999）</li>
                        </ul>
                    </li>
                    <li>
                        <strong><a href="javascript:;">其他游戏平台</a></strong>
                        <ul>
                            <li><a href="javascript:;">古墓丽影其他平台游戏，GBA、NGAGE、PDA、FLASH、电视互动等</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
                <div class="team-image pull-right">
                    <img class="pull-right" src="images/03-1-150x150.jpg">
                </div>
            </div>
            <div class="tab-pane fade" id="Periphery">
                <div class="team-detail pull-left">
                    <h3>游戏周边</h3>
                    <ul>
                        <li>
                            <strong>游戏角色</strong>
                            <ul>
                                <li><a href="javascript:;">理查德·克劳馥</a> | <a href="javascript:;">约拿</a> | <a href="javascript:;">圣三一</a> | <a href="javascript:;">其他</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>地理文化资料</strong>
                            <ul>
                                <li><a href="javascript:;">萨里</a> | <a href="javascript:;">贵族</a> | <a href="javascript:;">伦敦</a> | <a href="javascript:;">其他</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>游戏制作相关</strong>
                            <ul>
                                <li><a href="javascript:;">晶体动力</a> | <a href="javascript:;">Core Design</a> | <a href="javascript:;">其他</a></li>
                            </ul>
                        </li>
                        <li>
                            <strong>古墓丽影周边</strong>
                            <ul>
                                <li><a href="javascript:;">古墓丽影中文站</a></li>
                                <li><a href="javascript:;">电影</a> | <a href="javascript:;">小说</a> | <a href="javascript:;">漫画</a> | <a href="javascript:;">其他</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="team-image pull-right">
                    <img class="pull-right" src="images/04-1-150x150.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mid-content">
    <p class="caption-title">游戏幕后</p>
    <p class="caption-line"></p>
    <div class="container">
        <div class="row">
            <a class="col-md-4 wow rollIn" data-wow-duration="2s" data-wow-delay="0.25s">
                <img class="img-responsive center-block" src="images/tr20core-1-480x300.jpg">
                <div>
                    <h3>古墓丽影二十周年访谈回顾（Core Design）</h3>
                    <h4><i class="glyphicon glyphicon-calendar"></i>2017年02月18日</h4>
                    <p>古墓丽影系列诞生已经二十年，虽然游戏已经经历了天翻地覆的巨变，游戏开发权也从 Core Design 易手，但以古墓丽影前五代为代表的经典古墓系列，至今仍为玩家们津津乐道。甚至是他们的“失败之作”《黑暗天使》，也为众多玩家念念不忘。 </p>
                    <span>查看全文<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
            <a class="col-md-4 wow bounceInDown" data-wow-duration="2s" data-wow-delay="0.5s">
                <img class="img-responsive center-block" src="images/hdr1-680x382.jpg">
                <div>
                    <h3>《古墓丽影：崛起》中的HDR运用</h3>
                    <h4><i class="glyphicon glyphicon-calendar"></i>2017年02月18日</h4>
                    <p>《古墓丽影：崛起》PC版中的画面给玩家留下深刻印象。近日，晶体动力的老搭档/负责《古墓丽影：崛起》PC版制作的 Nixxes 工作室和 NVIDIA 的制作人共同讲述了如何在《崛起》中贯彻 HDR。讲述者分别是来自 Nixxes 的 Jeroen Soethoudt 和 Jurjen Katsman ，... </p>
                    <span>查看全文<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
            <a class="col-md-4 wow bounceInRight" data-wow-duration="2s" data-wow-delay="0.75s">
                <img class="img-responsive center-block" src="images/12-480x300.jpg">
                <div>
                    <h3>晶体动力开发日志：《古墓丽影——崛起》幕后故事</h3>
                    <h4><i class="glyphicon glyphicon-calendar"></i>2017年02月18日</h4>
                    <p>《古墓丽影：崛起》于2015年11月10日发售于Xbox平台，在等待游戏发售的同时，官方博客上不定期地更新游戏开发日志，讲述游戏制作的幕后故事。以下是开发日志总目录，请点击链接查阅详情。 </p>
                    <span>查看全文<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
        </div>
    </div>
    <div class="more container">
        <a href="javascript:;">查阅更多</a>
    </div>
</div>
<div class="space">
     <p class="caption-title">游戏幕后</p>
     <p class="caption-line"></p>
     <div class="container">
         <div class="row">
             <div class="col-md-3 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.25s">
                 <a href="javascript:;">
                     <img class="img-responsive center-block" src="images/02213-480x300.jpg">
                     <div class="go-in">
                         <span>+</span>
                     </div>
                     <h3>古墓丽影中文站开放玩家投稿</h3>
                 </a>
             </div>
             <div class="col-md-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                 <a href="javascript:;">
                     <img class="img-responsive center-block" src="images/49.png">
                     <div class="go-in">
                         <span>+</span>
                     </div>
                     <h3>Sammy古墓丽影作品集（2）</h3>
                 </a>
             </div>
             <div class="col-md-3 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.75s">
                 <a href="javascript:;">
                     <img class="img-responsive center-block" src="images/Logo-680x273.png">
                     <div class="go-in">
                         <span>+</span>
                     </div>
                     <h3>古墓丽影二十年</h3>
                 </a>
             </div>
             <div class="col-md-3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                 <a href="javascript:;">
                     <img class="img-responsive center-block" src="images/rottr-fr-680x383.jpg">
                     <div class="go-in">
                         <span>+</span>
                     </div>
                     <h3>20年庆典版发售预告法语版漫谈</h3>
                 </a>
             </div>
         </div>
     </div>
    <div class="more container">
        <a href="javascript:;">查阅更多</a>
    </div>
</div>
<div class="pull">
    <p class="caption-title">扯</p>
    <p class="caption-line"></p>
    <div id="myCarous" class="carousel slide container wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s" data-ride="carousel">
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <div>
                    <p>I’m not who you think I am.<br>我不是你想象的那样。</p>
                </div>
                <h3>劳拉，2007，《古墓丽影：周年纪念》</h3>
                <img src="images/tra.png">
            </div>
            <div class="item">
                <div>
                    <p>I cannot die, you fool.<br>你杀不了我的，蠢货。</p>
                </div>
                <h3>纳特拉，2007，《古墓丽影：周年纪念》</h3>
                <img src="images/natela2-150x150.png">
            </div>
            <div class="item">
                <div>
                    <p>How far are you willing to go to find out, Lara?<br>你究竟要知道多少才能满足，劳拉？</p>
                </div>
                <h3>纳特拉，2007，《古墓丽影：周年纪念》</h3>
                <img src="images/natela-150x150.png">
            </div>
            <div class="item">
                <div>
                    <p>You have the strength to claim this seat beside me.<br>你有资格与我平起平坐。</p>
                </div>
                <h3>劳拉，2007，《古墓丽影：周年纪念》</h3>
                <img src="images/natala-150x150.png">
            </div>
            <div class="item">
                <div>
                    <p>No job is worth dying for.<br>没有什么值得这么玩命。</p>
                </div>
                <h3>皮埃尔，2007，《古墓丽影：周年纪念》</h3>
                <img src="images/pierre-150x150.png">
            </div>
            <div class="item">
                <div>
                    <p>Sometimes to understand your present, you have to go back to your past.<br>有时候，要了解你的现在，你必须回到过去。</p>
                </div>
                <h3>预告片旁白，2007，《古墓丽影：周年纪念》</h3>
                <img src="images/scion-150x150.png">
            </div>
        </div>
        <!-- 轮播（Carousel）按钮 -->
        <a class="carousel-control left" href="#myCarous"
           data-slide="prev">
            <!--<i class="fa fa-angle-left"></i>-->
        </a>
        <a class="carousel-control right" href="#myCarous"
           data-slide="next">
            <!--<i class="fa fa-angle-right"></i>-->
        </a>
    </div>
</div>
<div class="mid-content source">
    <p class="caption-title">资源</p>
    <p class="caption-line"></p>
    <div class="container">
        <div class="row">
            <a class="col-md-4 wow rollIn" data-wow-duration="2s" data-wow-delay="0.25s">
                <img class="img-responsive center-block" src="images/Dash.gif">
                <div>
                    <h3>古墓丽影初代图集</h3>
                    <h4><i class="glyphicon glyphicon-calendar"></i>2017年02月18日</h4>
                    <p>2016年10月25日，古墓丽影初代首发20周年纪念日。下面就来回味一下初代时劳拉的风采。  </p>
                    <span>查看全文<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
            <a class="col-md-4 wow shake" data-wow-duration="2s" data-wow-delay="0.5s">
                <img class="img-responsive center-block" src="images/Logo-680x273.png">
                <div>
                    <h3>《古墓丽影：崛起》二十年庆典版图库</h3>
                    <h4><i class="glyphicon glyphicon-calendar"></i>2017年02月18日</h4>
                    <p>之前我们已经汇总过《古墓丽影：崛起》20年庆典版的视频演示，现在就来看看游戏图片。在此提供的已是高清版JPG文件，若需更高画质的文件（TIF/PNG/JPG），请访问网盘下载。  </p>
                    <span>查看全文<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
            <a class="col-md-4 wow swing" data-wow-duration="2s" data-wow-delay="0.75s">
                <img class="img-responsive center-block" src="images/rottr-20th-1-480x300.jpg">
                <div>
                    <h3>《古墓丽影：崛起》20年庆典版视频</h3>
                    <h4><i class="glyphicon glyphicon-calendar"></i>2017年02月18日</h4>
                    <p>《古墓丽影：崛起》20年庆典版10月11日发售，相比《古墓丽影：崛起》，20年庆典版不但包含了游戏和全部已发布的DLC，还新增了一些内容。以下收录的就是20年庆典版的视频演示。  </p>
                    <span>查看全文<i class="fa fa-angle-right"></i></span>
                </div>
            </a>
        </div>
    </div>
    <div class="more container">
        <a href="javascript:;">查阅更多</a>
    </div>
</div>
<div class="link">
    <p class="caption-title">官方链接</p>
    <p class="caption-line"></p>
    <div class="container">
        <div class="link-left pull-left">
             <ul class="list-unstyled">
                 <li class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.1s">
                     <div>
                         <h3>官方博客</h3>
                         <a href="http://tombraider.tumblr.com">http://tombraider.tumblr.com</a>
                     </div>
                     <img src="images/no-image.jpg">
                 </li>
                 <li class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
                     <div>
                         <h3>官方视频库</h3>
                         <a href="http://youtube.com/tombraider">http://youtube.com/tombraider</a>
                     </div>
                     <img src="images/no-image.jpg">
                 </li>
                 <li class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                     <div>
                         <h3>劳拉官方推特</h3>
                         <a href="http://tombraider.tumblr.com">http://tombraider.tumblr.com</a>
                     </div>
                     <img src="images/no-image.jpg">
                 </li>
                 <li class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.7s">
                     <div>
                         <h3>劳拉官方 Facebook</h3>
                         <a href="http://facebook.com/laracroft">http://facebook.com/laracroft</a>
                     </div>
                     <img src="images/no-image.jpg">
                 </li>
                 <li class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                     <div>
                         <h3>劳拉官方网站</h3>
                         <a href="http://laracroft.com/">LaraCroft.com</a>
                     </div>
                     <img src="images/no-image.jpg">
                 </li>
             </ul>
        </div>
        <div class="link-right pull-right">
            <ul class="list-unstyled">
                <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="images/no-image.jpg">
                    <div>
                        <h3>官方商城</h3>
                        <a href="http://tombraiderstore.com">http://tombraiderstore.com</a>
                    </div>
                </li>
                <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                    <img src="images/no-image.jpg">
                    <div>
                        <h3>官方图库</h3>
                        <a href="http://instagram.com/tombraider">http://instagram.com/tombraider</a>
                    </div>
                </li>
                <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s">
                    <img src="images/no-image.jpg">
                    <div>
                        <h3>古墓丽影推特</h3>
                        <a href="https://twitter.com/tombraider">https://twitter.com/tombraider</a>
                    </div>
                </li>
                <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.8s">
                    <img src="images/no-image.jpg">
                    <div>
                        <h3>古墓丽影 Facebook</h3>
                        <a href="http://facebook.com/tombraider">http://facebook.com/tombraider</a>
                    </div>
                </li>
                <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s">
                    <img src="images/no-image.jpg">
                    <div>
                        <h3 class="tom">古墓丽影官方网站</h3>
                        <a class="tom-a" href="http://tombraider.com">tombraider.com</a>
                        <p>古墓丽影官方网站</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>