<!--这是新闻页面内容-->
<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="news-type">
                    <p>分类：<span>新闻资讯</span></p>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="javascript:;">
                            <img class="img-responsive" src="../images/0221.jpg">
                        </a>
                        <div class="news-content">
                            <h3>晶体动力迁入新址</h3>
                            <h4>By gmly.info</h4>
                            <p>在精心设计和建造后，晶体动力的新办公楼终于完工。晶体动力已于近日搬入新址，并展开招募行动。</p>
                            <div> <a>阅读全文</a></div>
                            <span class="fa fa-folder-open">发布于：
                                <a href="javascript:;">Slider,</a>
                                <a href="javascript:;">厂商动态</a>
                            </span>
                            <span>
                                <a href="javascript:;">暂无评论</a>
                            </span>
                        </div>
                        <time>
                            <span class="day">18</span>
                            <span class="month">2月</span>
                        </time>
                        <span class="triangle"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div ng-include="'../template/aside.html'">
                </div>
            </div>
        </div>
    </div>
</div>